.profile-dropdown {
  position: absolute;
  background-color: #202022;
  top: 50px;
  right: 0px;
  border-radius: 4px;
  padding-right: 20px;
  color: white;
}

.pfpButton {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 25px;
}

/* .pfpButton:hover { */
  /* background-color: rgb(206, 206, 206); */
/* } */

.hidden {
  display: none;
}

.login {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.signup {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  color: white;
}


.Navbar {
  background-color: #202022;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Navbar-Home-Logo {
  height: 61%;
  width: 148px;
  object-fit: cover;
  margin-top: 12px;
  margin-left: 31px;
  padding-right: 14px;
}

.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vh;
  justify-content: flex-end;
}

.leftNav {
  display: flex;
  flex-direction: row;
}

.YouAndExplore {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-left: 28px; */
}

.Login-Signup-Holder {
  display: flex;
  gap: 10px;
}

.Login-Signup-Holder * {
  font-size: 18px;
}

.YouButton {
  display: flex;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
  border-radius: 25%;
  text-align: center;
}

.YouButton:hover {
  background-color: rgb(49, 49, 49);
  /* height: 50px; */
  padding: 10px;
}

.ExploreButton {
  display: flex;
  padding: 10px;
  color: white;
  /* margin-left: 32px; */
  margin-left: 8px;
  text-decoration: none;
  border-radius: 25%;
  text-align: center;
}

.ExploreButton:hover {
  background-color: rgb(49, 49, 49);

}

.CreatePhoto-Holder {
  margin-right: 40px;
}

.Login-Signup-Holder {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

.Log {
  margin-right: 10px;
  width: 56px;
  color: white;
}

.cleanButton {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #128fdc;
  cursor: pointer;
}

.cleanButton:hover {
  background-color: #4cb5f7;
}

.cleanButtonDel {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #dc1212;
  cursor: pointer;
  border-radius: 12px;
  padding: 15px;
}

.cleanButtonDel:hover {
  background-color: #f74c4c;
}
