.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.Navbar {
  background-color: #202022;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  margin-bottom: 0px;
  height: 55px;
}
