.albums {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vw;
  position: relative;
  top: 15px;
  margin: 0 auto;
}

.album-card {
  display: grid;
  justify-items: center;
}

.albumContainer {
  display: grid;
  justify-content: center;
}

.albumPhoto {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 7px;
}

.backGroundPhoto {
  width: 100vw;
  height: 320px;
  object-fit: cover;
}

.albums-title {
  color: gray;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: solid 5px #128fdc;
  margin: 10px;
}

.rightAlbumBar {
  display: flex;
}

.albumsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.createAlbumBox {
  width: fit-content;
  height: fit-content;
}

.youUserIcon {
  color: white;
}

.youUsername,
.youEmail {
  font-size: x-large;
  color: white;
}

.youUserDetails {
  position: absolute;
  background-color: #2b2b2ebb;
  border-radius: 12px;
  padding: 5px 12px;
  height: 80px;
  top: 280px;
  align-items: center;
  left: 1vw;
  display: flex;
  gap: 20px;
}

#empty-card {
  border: 0.1px solid rgb(0, 0, 0);
}

.leftAlbumBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
