.pageBox {
  display: flex;
  flex-direction: column;
}

.topPhotoBar {
  background-color: #2b2b2e;
  padding: 20px;
  display: flex;
  direction: row;
  align-items: center;
  gap: 10px;
}

.photoBox {
  background-color: #2b2b2e;
  justify-content: center;
  padding: 100px 0px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.userIcon {
  flex-basis: 10%;
}

.userDetails {
  /* background-color: antiquewhite; */
  padding-left: 10px;
  flex-grow: 1;
}

.username {
  font-size: 25px;
  text-decoration: none;
  color: black;
  transition: color 0.25s;
  margin: 0;
}

.username:hover {
  text-decoration: underline;
  color: rgb(22, 160, 206);
}

.cleanButton {
  background-color: lightgray;
  border-radius: 12px;
  padding: 15px;
}

.bottomSection {
  /* background-color: wheat; */
  width: 95%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.bottomSection > * {
  width: 95%;
}

.userBox {
  width: 95%;
  flex-wrap: wrap;
}
.firstHr {
  width: 100%;
}

.commentDetails {
  padding-left: 10px;
}

.commentBox {
  /* background-color: #2b2b2e; */
  width: 90%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.makeCommentBox {
  display: flex;
  /* background-color: aqua; */
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#comment {
  margin-left: 10px;
  padding-left: 10px;
}

.create-comment-submit-button {
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px;
  margin-left: 10px;
}

.commentInput {
  display: flex;
}

.userIcon {
  color: gray;
}

.backLink {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#photoImg {
  max-width: 95%;
}

.fa-arrow-left {
  color: white;
}

.hr95 {
  background-color: black;
  width: 95%;
}

.commentH2 {
  padding-left: 40px;
}

.commentUser {
  padding-right: 10px;
  color: #176dac;
  font-weight: bold;
}

.commentUser:hover {
  text-decoration: underline;
}

.noButton {
  border: none;
  cursor: pointer;
}
.allTags {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 200px;
  max-width: 100%;
  padding-right: 4px;
  margin-right: 5px;
}

.tag {
  background-color: lightgray;
  padding: 8px;
  border-radius: 12px;
  font-size: large;
}

.tagsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.tagButton {
  background-color: transparent;
  border: 0.25px solid black;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 50px;
  margin: 3px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}

.tagButton:hover {
  background-color: rgb(233, 233, 233);
}

.tagsBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  margin-bottom: 200px;
}

.addTagsBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#tagName {
  height: 40px;
  font-size: 15px;
}

.addTagButton {
  background-color: transparent;
  border: 0.25px solid black;
  border-radius: 5px;
  margin-right: 3px;
  font-size: 20px;
  height: 70px;
  width: 100px;
}

.addTagButton:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.trash-button {
  background-color: transparent;
  border-radius: 25%;
  border: none;
  height: 20px;
  cursor: pointer;
  border: 0.25px solid transparent;
}

.trash-button:hover {
  background-color: rgb(251, 251, 251);
  border: 0.25px solid rgb(190, 190, 190);
}

.add-tag {
  background: transparent;
  border: 0.25px solid rgb(190, 190, 190);
  font-size: 20px;
  height: 50px;
  margin: 10px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.add-tag:hover {
  background-color: rgb(233, 233, 233);
}

.tag-submit {
  margin-left: 3px;
  margin-right: 3px;
  flex-direction: column;
  display: flex;
}
