.photosList {
  max-width: 450px;
  max-height: 500px;
  overflow: scroll;
}

.normalPhoto {
  width: 200px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 200px;
}

.albumsPage {
  margin: 0 auto;
  width: 80%;
}
