.photosList {
  max-width: 450px;
  max-height: 500px;
  overflow: scroll;
}

.normalPhoto {
  width: 200px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 200px;
}

.addPhotoBox {
  padding-top: 10px;
}

.albumName {
  position: absolute;
  background-color: #2b2b2ebb;
  border-radius: 12px;
  padding: 5px 12px;
  height: 70px;
  color: white;
  font-weight: 100;
  top: 270px;
  align-items: center;
  left: 1vw;
  display: flex;
  gap: 20px;
}

.albumsPage {
  margin: 0 auto;
  width: 80%;
}

.backYou {
  /* background-color: #2b2b2ebb; */
  font-size: large;
  padding-right: 20px;
}
