.AllPhotos-Container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px;
  position: relative;
  top: 15px;
  margin: 0 auto;
}

.AllPhotos-Inner-Container {
  display: grid;
  gap: 17px;
}

.AllPhotosCards {
  cursor: pointer;
}

.card-holder {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  aspect-ratio: 1;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: transform 0.2s ease-in-out; */
}


.content-holder {
  color: transparent;
  text-align: center;
  font-size: 1vw;

}

.card-holder:hover {
  /* transform: scale(.8); */
}

.card-holder:hover .content-holder{
  color:white;
  transform: scale(.8);
}

.Single-Image {
  object-fit: cover;
  vertical-align: bottom;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* float: left; */
}

/*
.photo-container img {
  transition: transform 0.2s ease-in-out;
}

.photo-container:hover img {
  transform: scale(1.2);
} */
