.AllPhotos-Container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px;
  position: relative;
  top: 15px;
  margin: 0 auto;
}

.AllPhotos-Inner-Container {
  display: grid;
  gap: 17px;
}

.AllPhotosCards {
  cursor: pointer;
}

.card-holder {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  aspect-ratio: 1;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: transform 0.2s ease-in-out; */
}


.content-holder {
  color: transparent;
  text-align: center;
  font-size: 1vw;

}


.card-holder:hover .content-holder{
  padding: 20px;
  color:white;
  transform: scale(.8);
}

.Single-Image {
  object-fit: cover;
  vertical-align: bottom;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* float: left; */
}

/*
.photo-container img {
  transition: transform 0.2s ease-in-out;
}

.photo-container:hover img {
  transform: scale(1.2);
} */

.allPhotosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.imgRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px 0px;
}

.imgBox {
  border-radius: 7px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.infoDiv {
  color: transparent;
  text-align: center;
  transition: color .5s;
  z-index: 100;
}
.imgBox:hover .infoDiv {
  color: white;
  background-color: rgba(43, 41, 41, 0.568);
  border-radius: 12px;
  padding: 4px;
}
.imgBox:hover {
  transform: scale(1.2);
}

.outerBox {
  overflow: hidden;
  height: 25vh;
}
